.top-right {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 20vw;
  z-index: 999;
  text-align: left;
}

.array-bar{
    display: inline-block;
    margin: 1px;
    padding-bottom: 0;
    /* width: 1px; */
}